<head>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- jQuery UI -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- jQuery UI CSS -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<!-- bootstrap css -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- bootstrap js -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>


<script>
	$(document).ready(function() {
		$("#search-btn").click(function() {
			$("#full-case").toggle(false);
			$("#search-results-container").toggle(true);
			$("#search-results-container").empty();

			$.ajax({
				url: "/get_results",
				data: $("#search-box").val(),
				method: "POST",
				success: function(res) {
					console.log("success");
					console.log(res);
					renderData(res)
				},
				error: function(res) {
					console.log("error");
					console.log(res);
				}
			})


			function renderData(sampleData) {
				for (var s in sampleData) {
					var data = sampleData[s];
					var div = `
						<div style="width: 600px; border: 1px solid black; box-shadow: 2px 2px gray;">
							<div class="case-title" style="display: flex; justify-content: center; background-color: #0093b2; color: white; cursor: pointer;" data-case-id="${data.case_id}">
								<div style="margin: 10px 10px 10px 10px">
									${data.case_title}, ${data.case_date}
								</div>
							</div>
							<div style="margin: 10px 10px 10px 10px">
								${data.case_text}
							</div>
						</div>
						<br/>
						<br/>
					`;
					$("#search-results-container").append(div);
				}

				$(".case-title").click(function() {
					console.log("clicked case title");
					$("#search-results-container").toggle(false);
					$("#full-case").toggle(true);

					var caseId = parseInt($(this).data("caseId"));


					var thisCase = findCase(caseId, sampleData);

					var case_matches = thisCase.case_matches;
					var case_html = thisCase.case_html.trim();

					if (case_matches) {
						console.log(case_matches);

						for (var m in thisCase.case_matches) {
							var match = thisCase.case_matches[m];
							var index = case_html.indexOf(match);
							var length = match.length;

							var contentA = "<span style='background-color: #ffff60; font-weight: bold; border: 1px solid black;'>";
							var contentB = "</span>";

							case_html = [
								case_html.slice(0, index),
								contentA,
								case_html.slice(index, index + length),
								contentB,
								case_html.slice(index + length)
							].join("");

						}

					}
					$("#full-case").html(case_html);

				});

			}

		});
		function findCase(caseId, sampleData) {
			for (var c in sampleData) {
				var thisCase = sampleData[c];
				if (caseId == thisCase.case_id) {
					return thisCase;
				}
			}
		}
	});
</script>


<body style="background-color: #F0F8FF; width: 100%; height: 100%; margin: 0px; padding: 0px;">
	<div style="background-color: #0093b2; height: 100px; display: flex; justify-content: center;">
		<div style="color: ghostwhite; font-size: 60px; letter-spacing: 5; font-family: monospace; margin-top: 10px;">
			<span>
				LEGAL AI
			</span>
		</div>
	</div>

	<br/>

	<div>
		<div style="background-color: #F0F8FF; display: flex; justify-content: center;">
			<div style="background-color:  #0093b2; height: 150; width: 600px; margin-top: 30px; box-shadow: 2px 2px gray;">
				<div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
					<input class="form-control" id="search-box" style="width: 400px; height: 35px;">
				</div>

				<br/>

				<div style="display: flex; justify-content: center;">
					<button id="search-btn" class="btn-primary" style="background-color: #e53306; width: 200px; height: 50px; font-weight: bold; letter-spacing: 5;">ASK</button>
				</div>
			</div>
		</div>

		<br/><br/>

		<div style="background-color: #F0F8FF; display: flex; justify-content: center;">
			<div id="search-results-container"></div>
			<div style="width: 1000px; display: none; padding: 10 10 10 10; background-color: #ffffff; border: 1px solid black;"" id="full-case"></div>
		</div>

</body>